* {
    margin: 0%;
    padding: 0%;
    font-family: arial;
}

html,
body {

    width: 100%;
    height: 100%;
}

#ggg {
    height: 100%;
    width: 100%;
    background-color: pink;

}

.header {
    width: 100%;
    height: 50px;
    text-align: center;


}

h1 {
    color: green;

}

.main {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main2 {
    height: 100%;
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;



}

.box {
    height: 140px;
    width: 140px;
    background-color: bisque;
    border: 0.1px solid black;
    border-radius: 25px;
    margin: 5px;

}

.box:hover {
    background-color: rgb(241, 211, 174);

}

#klkl {
    font-size: xx-large;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: green;
    height: 100%;
    width: 100%;
    background-color: pink;
}

#kkl {
    height: 50px;
    text-align: center;
    font-size: 500;
    padding: 10px 5px 5px 5px;

    width: 200px;
    background-color: red;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

.newgame {
    position: relative;
    left: 660px;
    margin-top: 20px;
    height: 50px;
    text-align: center;
    font-size: 500;
    padding: 10px 5px 0px 5px;

    width: 200px;
    background-color: red;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: x-large;
}

@media screen and (max-width:1500px) {
    .box {
        height: 100px;
        width: 100px;
    }

    .main2 {
        height: 100%;
        width: 30%;
    }

    .main {
        height: 70%;
    }
}

@media screen and (max-width:1500px) and (min-width:1465px) {
    .box {
        height: 110px;
        width: 110px;
    }
}

@media screen and (max-width:1100px) and (min-width:730px) {
    .box {
        height: 120px;
        width: 130px;
    }

    .main2 {
        width: 50%;
    }
}

@media screen and (max-width:900px)and (min-width:720px) {
    .main2 {
        height: 100%;
        width: 40%;
    }

    .box {

        height: 90px;
        width: 90px;
    }
}

@media screen and (max-width:750px)and (min-width:720px) {
    .main2 {
        height: 100%;
        width: 70%;
    }

    .box {
        height: 120px;
        width: 120px;
    }
}

@media screen and (max-width:720px) and (min-width:545px) {
    .box {
        height: 120px;
        width: 120px;
    }

    .main2 {
        height: 100%;
        width: 70%;
    }
}

@media screen and (max-width:730px) and (min-width:720px) {
    .box {
        height: 90px;
        width: 90px;
    }
}

@media screen and (max-width:901px) and (min-width:898px) {
    .box {
        height: 90px;
        width: 100px;
    }
}

@media screen and (max-width:545px) {
    .main2 {
        height: 100%;
        width: 100%;
    }

    .box {
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width:420px) {
    .box {
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width:330px) {
    .box {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width:270px) {
    .box {
        width: 60px;
        height: 60px;
        border-radius: 12px;
    }
}

@media screen and (max-width:556px)and (min-width:545px) {
    .box {
        width: 90px;
        height: 90px;
    }
}

@media screen and (max-width:730px)and (min-width:720px) {
    .box {
        width: 120px;
        height: 110px;
    }
}

@media screen and (max-width:750px)and (min-width:743px) {
    .box {
        width: 130px;
        height: 130px;
    }
}